name: 'Provising EC2 - workflow_dispatch'

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
   inputs:
      environment:
        type: choice
        description: Environment
        options:
        - Dev
        - Test
        - Prod
      terraform_operation:
        description: "Terraform operation: plan, apply, destroy"
        required: true
        default: "plan"
        type: choice
        options:
          - plan
          - apply
          - destroy
      terraformapply:
        type: choice
        description: Terraform Apply
        options:
          - false
          - true

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: Sandbox

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v3

    - name: Terraform init
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: terraform init  

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      run: terraform fmt

    - name: Terraform validation
      run: terraform validate

    - name: Terraform Apply
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      if:  (github.event.inputs.terraform_operation == 'apply'  &&  github.event.inputs.terraformapply == 'true' )
      run: terraform apply -auto-approve -input=false

    - name: Terraform Destroy Plan
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      if:  (github.event.inputs.terraform_operation == 'destroy'  &&  github.event.inputs.terraformapply == 'false' )
      run: terraform plan -destroy

    - name: Terraform Destroy 
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      if:  (github.event.inputs.terraform_operation == 'destroy'  &&  github.event.inputs.terraformapply == 'true' )
      run: terraform destroy --auto-approve  -input=false

  
